.form-opening-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #2c5775;
  border-radius: 50%;
  background: #edeef0;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .form-opening-button:hover {
    opacity: 1;
    background-color: #e1e5eb; }

.key-words-setup-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0;
  width: 260px;
  min-height: 200px;
  padding: 20px;
  border: 1px solid #e3e4e8;
  border-radius: 6px;
  background-color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #8d8d8d;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .key-words-setup-form .form-closing-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #2c5775;
    border-radius: 50%;
    background: #edeef0;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .key-words-setup-form .form-closing-button:hover {
      opacity: 1;
      background-color: #e1e5eb; }
  .key-words-setup-form .prompt {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e5ebf1;
    color: #55677d;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s; }
    .key-words-setup-form .prompt:hover {
      background-color: #dfe6ed; }
  .key-words-setup-form .popup {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: -5px;
    left: 100%;
    opacity: 0;
    padding: 10px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: left;
    -webkit-transition: opacity	0.3s;
    -o-transition: opacity	0.3s;
    transition: opacity	0.3s;
    cursor: text; }
    .key-words-setup-form .popup::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -6px;
      display: block;
      border: 6px solid #000;
      border-color: transparent #000 transparent transparent;
      border-left-width: 0; }
    .key-words-setup-form .popup p {
      position: relative;
      margin: 0;
      padding-right: 10px;
      white-space: nowrap; }
      .key-words-setup-form .popup p span.inline-closing-btn.icon-cross {
        position: absolute;
        top: 0;
        right: 0; }
      .key-words-setup-form .popup p span.inline-closing-btn.icon-cross::before {
        cursor: pointer;
        font-size: 8px;
        color: tomato; }
    .key-words-setup-form .popup p + p {
      margin-top: 5px; }
  .key-words-setup-form .popup.p {
    width: 200px; }
  .key-words-setup-form .input {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin-top: 5px;
    padding: 9px 13px 10px;
    border: 1px solid #d3d9de;
    border-radius: 6px; }
  .key-words-setup-form ::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #8d8d8d; }
  .key-words-setup-form .id-phrase-input {
    resize: none;
    -webkit-appearance: textarea; }
  .key-words-setup-form .btn {
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #e5ebf1;
    color: #55677d;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s; }
    .key-words-setup-form .btn:hover {
      background-color: #dfe6ed; }
  .key-words-setup-form div.btn + div.btn {
    margin-top: 0; }
  .key-words-setup-form .show-info {
    position: relative; }
